/* Estilo para la barra superior */
.barra-superior {
    background: linear-gradient(90deg, #050096, #283593); /* Gradiente de azul */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.barra-superior a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.barra-superior a:hover {
    color: #f8e71c; /* Amarillo claro */
    text-decoration: underline;
}

.barra-inferior {
    background-color: #678ccf; /* Azul intermedio */
    padding: 8px 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.barra-inferior img {
    max-height: 40px; /* Tamaño máximo del logotipo */
}

.barra-inferior .menu {
    margin-left: auto;
    display: flex;
    gap: 30px; /* Espaciado entre las opciones del menú */
}

.barra-inferior .menu a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
}

.barra-inferior .menu a:hover {
    color: #f8e71c;
    text-decoration: underline;
}

/* Estilo de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    color: #333;
}

/* Cambiar el color de la columna cuando pasas el mouse */
#myTable tbody td:hover {
    background-color: #cce5ff;
}

#institution {
    text-align: center;
    margin-bottom: 30px;
}

#institution h3 {
    color: #3f51b5;
    font-weight: bold;
    text-align: center; /* Alineación al margen izquierdo */
    margin-left: 0;
    /* Sin margen a la izquierda */
}

#institution p {
    color: #67768e;
    font-size: 1.1rem;
}

#institution img {
    max-width: 200px;
    margin-bottom: 15px;
}

.btn-danger i {
    font-size: 16px;
}

/* Ocultar el cuadro de búsqueda interno de DataTables */
.dataTables_filter {
    display: none;
}

table.dataTable {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin: 0;
}

table.dataTable thead {
    background-color: #3f51b5;
    color: white;
}

table.dataTable thead th {
    text-align: center;
}

table.dataTable tbody td {
    text-align: center;
    padding: 12px;
}

/* Estilo del modal */
.modal-dialog {
    background-color: #ffffff;
    border: 2px solid #3498db;
    border-radius: 8px;
}

.dropdown-item {
    padding: 10px 15px;
    transition: background-color 0.2s ease, color 0.3s ease;
}

/* Modal estilizado */
.modal-content {
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.modal-header {
    background-color: #3f51b5;
    color: white;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.modal-body {
    font-size: 1rem;
    color: #333;
}

.modal-footer {
    background-color: #f4f7fb;
    border-top: none;
}